body {
    margin: auto;
    font-family: "Open Sans", sans-serif;
}
.Mammals {
 background-image: url(imagine/horse.1png.png)
}
.Reptiles {
    background-image: url(imagine/Reptilie.png);
}
.Animal_World {
 display: block;
 color: green;
 position: relative;
 right: 200px;
 background-color: green;
}
.Quick_Srch {
    position: relative;
    left: 200px;
    color: black;
}
.top-list, .bottom-list {
    display: flex;
    list-style: none; 
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 0; 
}

.top-list {
    margin-top: 60px;
    gap: 20px;
}
.bottom-list {
    margin-top: 20px; 
    display: flex;
}
li {
padding-left: 30px;
color: gray;
background-repeat: no-repeat;
background-position: left center;
}
.imagine {
    display: flex;
}
