body {
    font-family: "Crimson Text", serif;
}

/*Bara de sus*/

.categ {
    background-color: rgb(255, 255, 255);
    margin-left: 200px;
    margin-right: 200px;
}

.Animal_World {
    margin: 10px;
    position: relative;
    right: 100px;
    top: 15px;
    color: rgb(255, 255, 255);
}

.pHome {
    position: relative;
    bottom: 35px;
    right: 130px;
}

.pHome1 {
    position: relative;
    bottom: 50px;
    color: rgb(104, 230, 100);
}

.buttonCatg {
    background-color: white;
    color: rgb(255, 255, 255);
}

.button2 {
    color: rgb(104, 230, 100);
    font-size: 30px
}

.button1 {
    background-color: none;
    color: rgb(0, 0, 0);
    font-size: 22px;
    border-radius: 20px;
}

.button1:hover {
    background-color: rgb(245, 245, 245);
    border-radius: 50px;
}

.topnav {
    position: relative;
    left: 50px;
    top: 10px;
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border-radius: 5px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 20px;
}

.top_list {
    position: relative;
    right: 120px;
    top: 25px;
}

.bottom_list {
    position: relative;
    right: 50px;
    bottom: 105px;
}

.top-list,
.bottom-list {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: center;
    padding: auto;
    margin: auto;
}

.bottom-list {
    margin-bottom: auto;
    display: flex;
}

li {
    padding-left: 20px;
    color: gray;
    background-repeat: no-repeat;
    background-position: left center;
}

.imagine {
    display: flex;
}

li {
    padding-left: 20px;
    color: gray;
    background-repeat: no-repeat;
    background-position: left center;
}

.imagine {
    display: flex;
}


/*Textul de mai jos de bara*/

.div1 {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 10px 0 100px 0;
}

.p1text {
    position: relative;
    bottom: 80px;
    left: 80px;
    font-size: 80px;
    color: rgb(104, 230, 100);
    font-family: "Arima", system-ui;
}

.p2text {
    position: relative;
    top: 20px;
    right: 310px;
    font-size: 80px;
    color: rgb(212, 214, 214);
    font-family: "Arima", system-ui;
}

/* Elementele din boxuri */

.rounded-imagine {
    border-radius: 20px;
    background-color: none;
}

.container1 {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 100px;
    gap: 10px;
    font-family: "Arima", system-ui;
}

.buttonImg {
    color: rgb(255, 255, 255);
    background-color: transparent;
    font-size: 40px;
    font-weight: bold;
    font-family: "Arima", system-ui;
    border: 10px black;
}

.overlay-text_container1 {
    position: absolute;
    color: rgb(129, 129, 129);
    bottom: 10px;
}

.container2 {
    position: relative;
    display: flex;
    justify-content: baseline;
    font-family: "Arima", system-ui;
    gap: 10px;
}

.boxblue {
    position: relative;
    left: 185px;
}

.BoxBluebird {
    height: 700px;
    width: 1010px;
}

.imgFluffy {
    height: 700px;
    width: 500px;
}

.boxfluffy {
    position: relative;
    left: 185px;
}