/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #de890a;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

nav button {
    background-color: white;
    color: #0daa32;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

nav button:hover {
    background-color: #de890a;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.animal {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    padding: 20px;
}

.animal img {
    max-width: 100%;
    border-radius: 8px;
}

.animal h2 {
    color: #de890a;
}

button {
    background-color: #de890a;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #de890a;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #de890a;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
